<app-header></app-header>

<div class="container">
    <div class="about">
        <h1>About Us</h1>
        <p>Hey there! 👋</p>
        <p> We’re not just another ride-sharing app-we’re a community on wheels. Whether you’re heading to class, work,
            or a
            weekend trip, our app helps you find people going the same way so you can share rides, split costs, and
            maybe even
            make a new friend along the way.
            We believe rides should be more than just about getting from A to B-they should be easy, safe, and social.
            With flexible ride options, we’ve got your back every step (or mile) of
            the way.</p>

    </div>
</div>