<app-header></app-header>
<div class="container">
    <div class="one">
        <h1>For Riders 🚗</h1>
        <h2>
            Sign Up & Set Your Destination
        </h2>
        <p>
            Just log in, enter where you want to go, and boom—you’re on your way to finding a ride.
        </p>
        <h2>
            Browse Available Rides
        </h2>
        <p>
            Check out who’s driving your way—see routes, times, and even how many seats are open.
        </p>
        <h2>
            Request a Ride
        </h2>
        <p>
            Found a ride that fits? Send a request. If the driver accepts, you’re all set.
        </p>
        <h2>
            Track & Chat
        </h2>
        <p>
            See where your driver is in real time and shoot them a message if needed.
        </p>
        <h2>
            Ride, Relax & Connect
        </h2>
        <p>
            Enjoy the ride! Chat, share music, or just chill. At the end, say thanks and leave a rating if you’d like.
        </p>
    </div>
    <div class="two">
        <h1>For Drivers 🚙
        </h1>
        <h2>
            Post Your Ride
        </h2>
        <p>
            Heading somewhere? Add your route, time, seats, and price (if any)—then publish it.
        </p>
        <h2>
            Accept Ride Requests
        </h2>
        <p>
            You’ll get requests from riders. Accept the ones that fit your vibe.
        </p>
        <h2>
            Start the Trip & Go
        </h2>
        <p>
            Hit the road! Riders can track you so they’re never left guessing.
        </p>
        <h2>
            Complete
        </h2>
        <p>
            Once the ride’s done, and you’re good to go.
        </p>


    </div>
    <div class="three">
        <h1>Shared Cool Stuff </h1>
        <h2>Manage your profile and ride history</h2>
        <h2>Customize your availability and ride preferences</h2>
        <h2>Make real-life connections (and maybe even new friends!)</h2>
    </div>
</div>

<app-footer />